# Some Rust trash
src/backend/core/target/
src/backend/core/keyboard_scrap/.pyre/
src/backend/core/keyboard_scrap/__pycache__/

# Some Python trash
src/backend/keyboard/__pycache__/
src/backend/core/.pyre/
